imovies-header {
  /* Component styles go here */
  div.site-header {
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    //box-shadow: 0px 1px 9px 0px #cec7c7;
    box-shadow: 0px 1px 10px 0px #d2d1d1;
    h2 {
      margin: 0 0 0 20px;
      background-color: transparent;
      text-decoration: none;
      color: black;
      height: 100%;
      width: 200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      transition: all 200ms ease-in-out;
      font-family: "Pacifico", sans-serif;
      font-size: 30px;
    }
    h2:hover {
      background-color: gainsboro;
      color: var(--ion-color-primary);
    }
    div.links {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      a {
        background-color: transparent;
        text-decoration: none;
        color: black;
        height: 100%;
        width: 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 20px;
      }
      a:hover {
        background-color: gainsboro;
        color: var(--ion-color-primary);
      }
    }
    div.user {
      justify-self: flex-end;
      margin-left: auto;
      p {
        margin-right: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  imovies-header {
    div.site-header {
      div.links {
        ion-searchbar {
          display: none;
        }
      }
    }
  }
}
