imovies-profile {
  /* Component styles go here */
  div.body {
    div.top {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      img {
        width: 20%;
        border-radius: 5px;
      }
    }
    div.bottom {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      h2 {
        font-family: "Pacifico", sans-serif;
        font-size: 50px;
        color: #353333;
      }
    }
  }
}
