imovies-register {
  /* Component styles go here */
  div.login-form {
    width: 70%;
    margin: 80px auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    ion-item {
      --border-width: 0 0 0 0;
      --show-full-highlight: 0;
      width: 100%;

      ion-input {
        border: 2px solid black;
        border-radius: 5px;
        --padding-start: 5px;
      }
    }
    ion-button {
      margin-top: 10px;
    }
    ion-anchor {
      font-size: 12px;
      margin-top: 10px;
    }
  }
  div.sideEf {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

    div.title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      h2 {
        font-family: "Pacifico", sans-serif;
        font-size: 50px;
        color: #353333;
      }
    }
  }

  .split-pane-md.split-pane-visible > .split-pane-side {
    max-width: 50%;
  }
  .split-pane {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 450px) {
  imovies-register {
    div.login-form {
      width: 90%;
    }
  }
}
