imovies-start {
  /* Component styles go here */

  div.top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

    h2 {
      font-family: "Pacifico", sans-serif;
      font-size: 50px;
      color: #353333;
    }
  }
  div.bottom {
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    div.left {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 50%;
      p {
        text-align: justify;
      }
      ion-anchor {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 1px 1px 0px #d2d1d1;
        font-weight: 500;
        --background: #f5f5f5;
      }
      ion-anchor:hover {
        box-shadow: 0px 1px 10px 0px #d2d1d1;
      }
    }
    div.right {
      height: 100%;
      width: 50%;
      ion-grid {
        padding: 0;
        height: 100%;
        ion-row {
          padding: 0;
          height: 50%;
          ion-col {
            padding: 0;
            height: 100%;
            img {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  imovies-start {
    div.bottom {
      height: unset;
      flex-flow: column nowrap;
      div.left {
        height: unset;
        width: 100%;
      }
      div.right {
        height: unset;
        width: 100%;
      }
    }
  }
}
