imovies-film {
  /* Component styles go here */
  .film-card {
    display: flex;
    flex-flow: row nowrap;
    transition: box-shadow 200ms ease-in-out;

    border-radius: 2px;

    div.info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      padding-left: 20px;
      h3 {
        margin-bottom: 30px;
      }
      p {
        margin: 5px 0;
        span.bold {
          font-weight: bold;
          color: rgb(20, 20, 20);
        }
      }

      div.divider {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-self: flex-end;
        margin: auto 0 0 0;
        hr {
          height: 1px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
        ion-button {
          margin: auto;

          --background: var(--ion-color-primary);
          --background-activated: var(--ion-color-primary-shade);
          --background-focused: var(--ion-color-primary-shade);
        }
      }
    }
  }
  div.currentTheatre {
    h3,
    h6 {
      text-align: center;
    }
  }
  ion-grid.seats {
    width: 50%;
    p {
      margin: 0;
    }
  }
  ion-item.dateselect {
    border: solid 2px;
    border-radius: 5px;
    margin: 10px 0 40px 0;
  }
  ion-grid {
    ion-row {
      background-color: #f5f5f5;
      margin-bottom: 5px;
      ion-col.right {
        display: flex;
        flex-flow: row wrap;
        border-left: dashed 2px white;
        span.time {
          background-color: var(--ion-color-primary);
          padding: 10px 20px;
          border-radius: 2px;
          margin: 4px;
          width: 110px;
        }
        span.time:hover {
          background-color: var(--ion-color-medium);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  imovies-film {
    ion-grid.seats {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 800px) {
  imovies-film {
    ion-grid.seats {
      width: 85%;
    }
  }
}
@media only screen and (max-width: 700px) {
  imovies-film {
    .film-card {
      flex-flow: column nowrap;
      align-items: center;
    }
    ion-grid.seats {
      width: 100%;
    }
  }
}
