imovies-home {
  /* Component styles go here */
  div.body {
    display: flex;
    flex-flow: row nowrap;
    div.left {
      width: 70%;
      div.movies {
        div.movie-cards {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          imovies-film-card {
            width: 100%;
            margin: 10px 0 50px 0;
          }
        }
      }
    }
    div.right {
      width: 30%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  imovies-home {
    div.body {
      div.left {
        width: 100%;
      }
      div.right {
        display: none;
      }
    }
  }
}
