imovies-film-card {
  /* Component styles go here */
  .film-card {
    display: flex;
    flex-flow: row nowrap;
    transition: box-shadow 200ms ease-in-out;

    border-radius: 2px;

    div.info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      padding-left: 20px;
      h3 {
        margin-bottom: 30px;
      }
      p {
        margin: 5px 0;
        span.bold {
          font-weight: bold;
          color: rgb(20, 20, 20);
        }
      }

      div.divider {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-self: flex-end;
        margin: auto 0 0 0;
        hr {
          height: 1px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
        ion-button {
          margin: auto;

          --background: var(--ion-color-primary);
          --background-activated: var(--ion-color-primary-shade);
          --background-focused: var(--ion-color-primary-shade);
        }
      }
    }
  }
  .film-card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
@media only screen and (max-width: 700px) {
  imovies-film-card {
    .film-card {
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}
